body {
    background-color: black;
}

.container-5 {
    position: relative;
    width: 500px;
    height: 500px;
    display: none;

}

.circle {
    position: absolute;
    stroke-width: 5px;
}

.square1 {
    position: absolute;
    animation: rotateSquare 6s linear infinite;
    transform-origin: center center;
}

@keyframes rotateSquare {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.square2 {
    animation: rotateCounterClockwise 4s linear infinite;
    transform-origin: center center;
}

@keyframes rotateCounterClockwise {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.square3 {
    animation: rotateForwardAndBack 2s linear infinite;
    transform-origin: center center;
}

@keyframes rotateForwardAndBack {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container .text {

    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

text {
    font-family: Open Sans;
    fill: #00A2AD;
    animation: colorChange 5s linear infinite;
}

@keyframes colorChange {
    0% {
        fill: whitesmoke;
        /* Startfarve */
    }

    50% {
        fill: #FF90AD;
        /* Midterfarve */
    }

    100% {
        fill: #00A2AD;
        /* Slutfarve */
    }
}

.container-4 {
    position: relative;
    width: 500px;
    height: 500px;
    display: none;

}

.square-co4 {
    animation: rotateForwardAndBack 2s linear infinite;
    transform-origin: center center;
}

.square1-co4 {
    animation: rotateCounterClockwise 2s linear infinite;
    transform-origin: center center;
}

.star {
    position: absolute;
    transform-origin: center;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.container-3 {
    position: relative;
    width: 500px;
    height: 500px;
    display: none;
}

.square1-co3 {
    position: absolute;
    transform-origin: center;
}

.triangle-co3 {
    transform-origin: center;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.container-2 {
    position: relative;
    display: none;
}

.square1-co2 {
    position: absolute;
    animation: rotateSquare1 2s linear infinite;
    transform-origin: center;
    border-radius: 4px;
    border: solid 5px;
    transition: opacity 2s ease-in-out;
}

@keyframes rotateSquare1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.square2-co2 {
    position: absolute;
    animation: rotateSquare2 4s linear infinite;
    transform-origin: center;
    border-radius: 3px;
    border: solid 5px;
    transition: opacity 1s ease-in-out;
}

@keyframes rotateSquare2 {
    from {
        transform: rotate(630deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.square3-co2 {
    position: absolute;
    animation: rotateSquare3 6s linear infinite;
    transform-origin: center;
    border-radius: 4px;
    border: solid 5px;
    transition: opacity 1s ease-in-out;
}

@keyframes rotateSquare3 {
    from {
        transform: rotate(630deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.square4-co2 {
    position: absolute;
    border-radius: 4px;
    border: solid 5px;
    animation: rotateSquare4 6s linear infinite;
    transform-origin: center;
    transition: opacity 1s ease-in-out;
}

@keyframes rotateSquare4 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.star-S {
    position: absolute;
    animation: colorChangeStar 5s linear infinite;
}

@keyframes colorChangeStar {
    0% {
        fill: whitesmoke;
        /* Startfarve */
    }

    50% {
        fill: #FF90AD;
        /* Midterfarve */
    }

    100% {
        fill: #00A2AD;
        /* Slutfarve */
    }
}

.triangle-co2 {
    animation: rotateSquare4 6s linear infinite;
    transform-origin: center;
    transition: opacity 1s ease-in-out;
}

@keyframes rotateSquare4 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.triangle1-co2 {
    animation: rotateSquare3 6s linear infinite;
    transform-origin: center;
}

.container-1 {
    position: absolute;
}

.container-C {
    position: relative;
}

.container-2 {
    position: relative;
}

.circle-1 {
    position: absolute;
    stroke-width: 5px;
}

.star-1 {
    animation: rotateSquare4 2s linear infinite;
    transform-origin: center;
    transition: opacity 1s ease-in-out;
}

.outer-container {
    position: absolute;
}

.test {
    animation: fade-in 1s infinite;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}